
.font1 {
    font: "sans-serif" !important
}

.font2 {
    font: "monospace" !important
}

.font3 {
    font: "fantasy" !important
}

.font4 {
    font: "cursive" !important
}

.font5 {
    font: "system-ui" !important
}