.img1 {
    background: url("../images/img1.jpg");
}

.img2 {
    background: url("../images/img2.jpg");
}

.img3 {
    background: url("../images/img3.jpg");
}

.img4 {
    background: url("../images/img4.jpg");
}

.img5 {
    background: url("../images/img5.jpg");
}

.img6 {
    background: url("../images/img6.jpg");
}

.img7 {
    background: url("../images/img7.jpg");
}

.img8 {
    background: url("../images/img8.jpg");
}

.img9 {
    background: url("../images/img9.jpg");
}

.img10 {
    background: url("../images/img10.jpg");
}