.img1-1500 {
    background: url("../images/img1-1500.jpg");
}
.img1-1000 {
    background: url("../images/img1-1000.jpg");
}
.img1-600 {
    background: url("../images/img1-600.jpg");
}

.img2-1500 {
    background: url("../images/img2-1500.jpg");
}
.img2-1000 {
    background: url("../images/img2-1000.jpg");
}
.img2-600 {
    background: url("../images/img2-600.jpg");
}

.img3-1500 {
    background: url("../images/img3-1500.jpg");
}
.img3-1000 {
    background: url("../images/img3-1000.jpg");
}
.img3-600 {
    background: url("../images/img3-600.jpg");
}

.img4-1500 {
    background: url("../images/img4-1500.jpg");
}
.img4-1000 {
    background: url("../images/img4-1000.jpg");
}
.img4-600 {
    background: url("../images/img4-600.jpg");
}

.img5-1500 {
    background: url("../images/img5-1500.jpg");
}
.img5-1000 {
    background: url("../images/img5-1000.jpg");
}
.img5-600 {
    background: url("../images/img5-600.jpg");
}

.img6-1500 {
    background: url("../images/img6-1500.jpg");
}
.img6-1000 {
    background: url("../images/img6-1000.jpg");
}
.img6-600 {
    background: url("../images/img6-600.jpg");
}

.img7-1500 {
    background: url("../images/img7-1500.jpg");
}
.img7-1000 {
    background: url("../images/img7-1000.jpg");
}
.img7-600 {
    background: url("../images/img7-600.jpg");
}

.img8-1500 {
    background: url("../images/img8-1500.jpg");
}
.img8-1000 {
    background: url("../images/img8-1000.jpg");
}
.img8-600 {
    background: url("../images/img8-600.jpg");
}

.img9-1500 {
    background: url("../images/img9-1500.jpg");
}
.img9-1000 {
    background: url("../images/img9-1000.jpg");
}
.img9-600 {
    background: url("../images/img9-600.jpg");
}

.img10-1500 {
    background: url("../images/img10-1500.jpg");
}
.img10-1000 {
    background: url("../images/img10-1000.jpg");
}
.img10-600 {
    background: url("../images/img10-600.jpg");
}